.logo {
    width: 250px; 
    height: 55px; 
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
	min-height: calc(100vh - 420px);
}
.modal {
    display: block;
    background-color: rgba(187, 190, 192, 0.5);
}
.img-show {
    width: 100%;
    height: 270px;
}
