.logo {
    width: 250px; 
    height: 55px; 
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mb-4 {
    margin-bottom: 0px !important;
}
.modal {
    display: block;
    background-color: rgba(187, 190, 192, 0.5);
}
.img-show {
    width: 100%;
    height: 270px;
}
